.cutImgLeft {
    width: 0;
    height: 0;
    border-top: 40px solid white;
    border-right: 40px solid transparent;     
    position: absolute; 
    left: 0;
    top: 0;    
}
.cutImgRight {
    width: 0;
    height: 0;
    border-bottom: 40px solid white;
    border-left: 40px solid transparent;
    position: absolute; 
    bottom: 0;
    right: 0;
}
.zincBorder {
    border-top-color: rgb(161 161 170) !important;
    border-bottom-color: rgb(161 161 170) !important;
}


